* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Gilroy-Thin';
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
}

input {
    display: none;
}

#btn
{
    padding: 12px 22px;
    background-color: rgb(41, 143, 114);
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

#btn:hover
{
    background-color: rgb(24, 82, 66);
    scale: 0.95;
    cursor: pointer;
}
