* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Gilroy-Thin';
    background-color: #222;
}

main {
    width: 100%;
    /* height: 100%; */
    padding: 30px;
    
}

input {
    display: block;
}

.card
{
    max-width: 300px;
    color: White;
    margin-top: 40px;
    display: inline-block;
    padding: 20px;
    border: 1px solid #555;
    border-radius: 10px;
    margin-right: 30px;
}
.card h5 {
    margin-top: 3px;
}

.card p {
    font-size: 12px;
    margin-top: 10px;
}

.profile
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 7px;
    overflow: hidden;
}

.profile img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

form input {
    padding: 8px 20px;
    padding-left: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    font-family: 'Gilroy-Thin';
    color: #555;
}

form #submit {
    padding: 8px 20px;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    font-family: 'Gilroy-Thin';
    background-color: rgb(40, 126, 85);
    color: white;
}

form #submit:hover {
    background-color: rgb(32, 84, 59);
    cursor: pointer;
}


